@charset "utf-8";
    
html, body{

text-align: center;
 
    height: 100%;
    width: 100%;  
     background-color: #6D24A1;
    
}

#Log{

    height: 70%;
    width: 60%;
  
}



#titulo{
    background-color: #6D24A1;
font-size: 30px;
    color: #ffffff;
text-align:center;
}